.menu-items {
    display: flex;
    justify-content: space-between;
    height: 35vh;
    align-items: center;
}


.menu-img:hover {
    fill: red;
}

@media screen and (max-width: 500px) {
    .menu-items {
        flex-direction: column;
        height: fit-content;
        gap: 20px;
        margin-bottom: 100px;
    }
}
